.header {
    margin-bottom: 0px;
    height: 75px;
    margin-right: 0px;
}

.Header_title {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(28, 132, 230, 0.973);
    color: white
}

.smaller {
    margin-bottom: 0px;
    height: 25px;
}

.smallerHeaderTitle {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    background-color: rgba(28, 132, 230, 0.973);
    color: white
}