.historyBody {
    display: inline-block;
}

.panel {
    width: 330px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}

.moreInfo {
    margin-left: 10px;
    font-size: 14px;
}

.infoLabel {
    font-weight: bold;
    display: inline;
}

#historyCard textarea{
    border: 1;
    min-height: 115px;  
    border-radius: 20px;
}

#removeButton button {
    margin-top: 5px;
    border: 1;
    border-radius: 10px;
}