.pageBottom {
  grid-area: history;
  margin-bottom: 0px;
  height: 100%;
  padding-bottom: 60px;
  background-color: lightgray;
  padding-top: 20px;
  margin-top: 10px;
}

.history {
  margin-left: 20px;
  margin-bottom: 150px;
}
