

.button{
    margin-top: 10px;
    border-color: mistyrose;
    color: black;
    font-size: 10px;
    background: transparent;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
  }

.button:hover {
    background: rgba(202, 202, 202, 0.5);
}

.button:active {
    background: rgba(94, 94, 94, 0.5);
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.moreInfo {
    margin-left: 10px;
    font-size: 14px;
}

.infoLabel {
    font-weight: bold;
    display: inline;
}

.card {
    width: 330px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#historyCard textarea{
    border: 1;
    min-height: 115px;  
    border-radius: 20px;
}

#removeButton button {
    margin-top: 5px;
    border: 1;
    border-radius: 10px;
}