
.Controls {
    display: grids;
    grid: 150px / auto auto auto;
    margin: 0 auto;
    grid-area: controls;
}

.InputLabels {
    display: flex;
    justify-content: space-evenly;
}

.Table {
    display: table;
    margin-left: 0px;
}

b {
    width: 50px;
}

ul#horizontal-list li {
    display:inline-block;
}

.StartButton {
    margin-left: 40px;
    margin-bottom: 10px;
}

.GiveUp {
    margin-left: 40px;
}

.Inputs {
    display: flex;
    
}

#inputForm input{
    width: 50px;
}