
.Controls {
    display: grids;
    grid: 150px / auto auto auto auto;
    margin: 0 auto;
    padding-top: 20px;
    grid-area: controls;
    min-width: 400px;
}

.InputLabels {
    display: flex;
}

.Table {
    display: table;
    margin-left: 0px;
}

ul#horizontal-list li {
    display:inline-block;
}

.StartButton {
    margin-left: 40px;
    margin-bottom: 10px;
}

.GiveUp {
    margin-left: 40px;
}

.Inputs {
    display: flex;
    
}

#inputForm input{
    width: 50px;
}

.select {
    margin-left: 40px;
    margin-top: 10px;
}

label {
    font-size: 15px;
    font-weight: bold;
}