.timer {
  grid-area: timer;
}
@import '/node_modules/antd/dist/antd.css';

.timer {
  vertical-align: center;
  margin-left: 100px;
  padding-top: 30px;
}

.message {
  margin-right: 200px;
  font-size: 30px;
}
