
.Controls {
    display: inline;
    margin: 0 auto;
    grid-area: controls;
}

.InputLabels {
    display: inline-flex;
    justify-content: space-between;
}

.Table {
    display: table;
    margin-left: 0px;
}
ul#horizontal-list {
    text-align: center; 
}
ul#horizontal-list li {
    display:inline-block;
}

.StartButton {
    margin-left: 40px;
    margin-bottom: 10px;
}

.GiveUp {
    margin-left: 40px;
}