.dummyHeader {
  text-align: center;
  margin-right: 80px;
}

.grid {
  display: grid;
  height: 1000px;
  grid-template: 500px 500px / 1fr 1fr 1fr;
  grid-template-areas: "controls timer rightUpper"
                        "history history history";
}

.App{
  margin-top: 30px;
}