.dummyHeader {
  text-align: center

}

.grid {
  display: grid;
  height: 1000px;
  grid-template: 500px 500px / 1fr 1fr 1fr;
  grid-template-areas: "controls timer rightUpper"
                       "controls timer rightLower";
}

.App{
  margin-top: 30px;
}