
body {
  background-size: cover;
  background-repeat: no-repeat;
}

.dummyHeader {
  text-align: center;
  font-size: 40px;
}

.confetti {
  width: 1250px;
  grid-area: confetti;
}

/* .grid {
  display: grid;
  height: 610px;
  grid-template: 180px 250px 180px/ 1fr 1fr 1fr;
  grid-template-areas: "header header header"
                       "controls timer rightUpper"
                       "controls timer resources";
} */
